.footer {
  background-color: $color_auxiliary-light;
  color: $color_white;
  opacity: 0.9;

  @include phone-width() {
    font-size: 0.75rem;
  }

  &__container {
    height: $height_footer;

    @extend %layout-container;
    @extend %flex-center;
  }
}
