.navigation {
  margin-top: $margin_base;
  font-size: 1.25rem;

  @extend %layout-container;

  &__items {
    @extend %flex-row-between;
  }

  &__links {
    border-bottom: 0.5px solid $color_line;

    ul {
      padding: $padding_small 0;

      @extend %flex-row;

      li {
        @include layoutSpaceLeft();
      }
    }
  }
}
