.all-posts {
  margin: 0 auto;
  max-width: 60rem;
  width: 90%;

  h1 {
    margin-bottom: $margin_base;
    color: $color-grey-800;
    text-align: center;
    font-size: $size-16;

    @include pad-under-width() {
      font-size: $size-8;
    }
  }
}
