.featured-posts {
  margin: $size-8 auto;
  max-width: 80rem;
  width: 90%;

  h2 {
    margin-bottom: $margin_base;
    color: $color-grey-800;
    text-align: center;
    font-size: $size-16;

    @include pad-under-width() {
      font-size: $size-8;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $margin_small;
  }
}
