.pagination {
  align-items: flex-end;
  flex-wrap: wrap;

  @extend %flex-row-between;

  &__info,
  &__control {
    display: inline-flex;
    flex-direction: column;
    margin-top: $margin_base;
  }

  &__items {
    flex-wrap: wrap;

    @extend %flex-row-center;

    a {
      display: inline-flex;
      border: $color_accent-light solid 1px;
      color: $color_accent;
      text-decoration: none;
      letter-spacing: 0;

      @extend %flex-center;
      @include square(42px, $radius-size_base);
      @include hoverActiveColorBackgroundTransition(
        $color_accent-light,
        $color_white
      );

      > b {
        position: absolute;
        left: 100%;
        display: none;
      }
    }

    & > li {
      overflow: hidden;
      margin-top: $margin_small;
      margin-right: $margin_small;
      font-weight: 500;
    }
  }

  &__control {
    align-items: flex-end;

    select {
      margin-top: $margin_small;
      padding: 15px $padding_small;
      width: 90px;
      outline: none;
      border: $color_accent-light solid 1px;
      border-radius: $radius-size_base;
      color: $color_accent-light;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}
