.post-header {
  align-items: flex-end;
  margin-bottom: $margin_small;
  padding-bottom: $padding_small;
  border-bottom: 8px solid $color_line;

  @extend %flex-row-between;
  @include pad-under-width() {
    align-items: center;
    flex-direction: column-reverse;

    gap: 1rem;
  }

  h1 {
    @include pad-under-width() {
      text-align: center;
      font-size: 2rem;
    }
  }

  img {
    width: 200px;
    height: 120px;

    object-fit: contain;
  }
}
