.post-detail {
  margin: $size-8 auto;
  padding: $size-8;
  max-width: 60rem;
  width: 95%;
  border-radius: 6px;
  background-color: $color-grey-100;
  font-size: $size-5;
  line-height: $size-8;

  @include pad-under-width() {
    padding: $size-4;
  }

  h2,
  h3 {
    margin: $margin_small 0;
  }

  ol {
    list-style-type: decimal;

    ol {
      margin-left: 2em;
    }
  }

  ul {
    list-style-type: disc;

    ul {
      margin-left: 2em;
    }
  }

  p {
    color: $color-grey-800;
  }

  strong {
    font-weight: bold;
  }

  a {
    text-decoration: underline;

    @include hoverColorTransition(blue);
  }
}
