.post-detail {
  color: $color_accent;
  font-size: 1.25rem;
  line-height: 2;

  @include phone-width() {
    padding: 0 $padding_small;
  }

  h2,
  h3 {
    margin: $margin_small 0;
  }

  ol {
    list-style-type: decimal;

    ol {
      margin-left: 2em;
    }
  }

  ul {
    list-style-type: disc;

    ul {
      margin-left: 2em;
    }
  }

  strong {
    font-weight: bold;
  }

  a {
    text-decoration: underline;

    @include hoverColorTransition($color_auxiliary);
  }

  code {
    padding: 3px 5px;
    border-radius: $radius-size_base;
    background-color: $color_auxiliary;
    color: $color_white;
  }

  table {
    th,
    td {
      padding: $padding_small/2 $padding_small;
      border: 1px solid $color_line;
    }

    th {
      font-weight: bold;
    }
  }
}
