.post-item {
  transition: transform 300ms ease-in-out;

  &:hover {
    transform: scale(1.01);
  }

  &__content {
    padding: $padding_small 0;

    h3 {
      font-size: 1.75rem;
    }

    time {
      font-size: 0.8rem;
    }
  }
}
